<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿里百秀-发现生活，发现美!</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.css">
    <script src="assets/vendors/jquery/jquery.js"></script>
    <script src="/assets/vendors/template/template.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include('./layouts/header.ejs')%>
            <%- include('./layouts/aside.ejs')%>
                <div class="content">
                    <div class="swipe">
                        <ul class="swipe-wrapper">


                        </ul>
                        <p class="cursor">
                            <!-- <span class="active"></span><span></span> -->
                        </p>
                        <a href="javascript:;" class="arrow prev"><i class="fa fa-chevron-left"></i></a>
                        <a href="javascript:;" class="arrow next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div class="panel focus">
                        <h3>焦点关注</h3>
                        <ul>
                            <li class="large">
                                <a href="javascript:;">
                                    <img src="uploads/hots_1.jpg" alt="">
                                    <span>XIU主题演示</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_2.jpg" alt="">
                                    <span>星球大战：原力觉醒视频演示 电影票68</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_3.jpg" alt="">
                                    <span>你敢骑吗？全球第一辆全功能3D打印摩托车亮相</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_4.jpg" alt="">
                                    <span>又现酒窝夹笔盖新技能 城里人是不让人活了！</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_5.jpg" alt="">
                                    <span>又现酒窝夹笔盖新技能 城里人是不让人活了！</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel top">
                        <h3>一周热门排行</h3>
                        <ol>
                            <li>
                                <i>1</i>
                                <a href="javascript:;">你敢骑吗？全球第一辆全功能3D打印摩托车亮相</a>
                                <a href="javascript:;" class="like">赞(964)</a>
                                <span>阅读 (18206)</span>
                            </li>
                            <li>
                                <i>2</i>
                                <a href="javascript:;">又现酒窝夹笔盖新技能 城里人是不让人活了！</a>
                                <a href="javascript:;" class="like">赞(964)</a>
                                <span class="">阅读 (18206)</span>
                            </li>
                            <li>
                                <i>3</i>
                                <a href="javascript:;">实在太邪恶！照亮妹纸绝对领域与私处</a>
                                <a href="javascript:;" class="like">赞(964)</a>
                                <span>阅读 (18206)</span>
                            </li>
                            <li>
                                <i>4</i>
                                <a href="javascript:;">没有任何防护措施的摄影师在水下拍到了这些画面</a>
                                <a href="javascript:;" class="like">赞(964)</a>
                                <span>阅读 (18206)</span>
                            </li>
                            <li>
                                <i>5</i>
                                <a href="javascript:;">废灯泡的14种玩法 妹子见了都会心动</a>
                                <a href="javascript:;" class="like">赞(964)</a>
                                <span>阅读 (18206)</span>
                            </li>
                        </ol>
                    </div>
                    <div class="panel hots">
                        <h3>热门推荐</h3>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_2.jpg" alt="">
                                    <span>星球大战:原力觉醒视频演示 电影票68</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_3.jpg" alt="">
                                    <span>你敢骑吗？全球第一辆全功能3D打印摩托车亮相</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_4.jpg" alt="">
                                    <span>又现酒窝夹笔盖新技能 城里人是不让人活了！</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="uploads/hots_5.jpg" alt="">
                                    <span>实在太邪恶！照亮妹纸绝对领域与私处</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel new">



                    </div>
                </div>
                <%- include('./layouts/footer.ejs')%>
    </div>

    <script src="/assets/vendors/template/template.js"></script>
    <script src="assets/vendors/swipe/swipe.js"></script>

    <script type="text/template" id="sliderListTmp">
        {{each data}}
        <li>
            <a href="#">
                <img src="{{$value.image}}">
                <span>{{$value.text}}</span>
            </a>
        </li>
        {{/each}}
    </script>
    <script type="text/template" id="postsListTmp">
        <h3>最新发布</h3>
        {{each data as value index}}
        <div class="entry">
            <div class="head">
                <span class="sort">{{value.name}}</span>
                <a href="javascript:;">{{value.title}}</a>
            </div>
            <div class="main">
                <div class="info">{{value.nickname}} 发表于 {{value.created}}</div>
                <div class="brief">{{#value.content}}</div>
                <div class="extra">
                    <span class="reading">阅读({{value.views}})</span>
                    <span class="comment">评论(0)</span>
                    <a href="javascript:;" class="like">
                        <i class="fa fa-thumbs-up"></i>
                        <span>赞({{value.likes}})</span>
                    </a>
                    <a href="javascript:;" class="tags">
                     分类：<span>{{value.name}}</span>
                    </a>
                </div>
                <a href="javascript:;" class="thumb">
                    <img src="{{value.feature}}" alt="">
                </a>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="/assets/js/forwards_index.js"></script>
</body>

</html>